﻿@model IEnumerable<PracticaNetSignalR.Models.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var EditIcon = "<svg  width ='16' height='16' fill = 'currentColor' class='bi bi-pencil' viewBox='0 0 16 16'><path d = 'M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l - 10 10a.5.5 0 0 1 - .168.11l - 5 2a.5.5 0 0 1 - .65 - .65l2 - 5a.5.5 0 0 1 .11 - .168l10 - 10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5 - 6.5zm - 9.761 5.175 - .106.106 - 1.528 3.821 3.821 - 1.528.106 - .106A.5.5 0 0 1 5 12.5V12h - .5a.5.5 0 0 1 - .5 - .5V11h - .5a.5.5 0 0 1 - .468 - .325z' /></svg>";
}

<h1>Lista de Proyectos</h1>

<div class="container">
    <div class="row">
        <div class="col-12 text-end">
            <a class="btn btn-primary" asp-action="Create">Nuevo</a>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repository)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableProjectBody">
    </tbody>

</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
        var connectionProyect = new signalR.HubConnectionBuilder().withUrl("/projectHub").build();

        connectionProyect.start().then(function () {
            console.log("Conexión exitosa");
        }).catch(function (err) {
            return console.error(err.toString());
        });
        connectionProyect.on("LoadProyects", function () {
            LoadProyectsData()
        });


        LoadProyectsData();

        function LoadProyectsData() {
        var iEdit = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                    </svg>`;
        var iSearch = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>`;
        var iTrash = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>`;
        var tr = '';

            $.ajax({
                url: '/Projects/GetProjects',
                method: 'GET',
                success: (result) => {
                    $.each(result, (k, v) => {

                        tr += `<tr>
                                <td>${v.Title}</td>
                                <td>${v.Description}</td>
                                <td>${v.Url != null ? v.Url : ''}</td>
                                <td>${v.Repository != null ? v.Repository : ''}</td>
                                <td>
                                     <a class="btn btn-primary btn-small" href="../Projects/Edit?id=${v.Id}">${iEdit}</a>
                                        <a class="btn  btn-primary btn-small" href="../Projects/Details?id=${v.Id}">${iSearch}</a>
                                        <a class="btn btn-danger  btn-small" href="../Projects/Delete?id=${v.Id}">${iTrash}</a>
                                </td>
                        <tr>`;
                    })

                    $("#tableProjectBody").html(tr);
                },
                error: (error) => {
                    console.log(error);
                }
            });

        }
</script>