﻿@{
    ViewData["Title"] = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12" style="height: 60vh;overflow-y: auto;">
        <ul id="messagesList"></ul>      
    </div>
    <hr />
</div>

<div class="container" id="userForm" >
    <div class="row">
        <div class="col-2">Nombre de usuario</div>
        <div class="col-4"><input class="form-control" type="text" id="userName" /></div>
        <div class="col-2"><input class="btn btn-primary" type="button" id="saveUser" value="Aceptar" /></div>
    </div>   
</div>

<div class="container" id="chatForm" style="display:none;">
    <div class="row">
        <input type="hidden" id="user" />
        <div class="col-10"><input class="form-control" placeholder="Mensaje" type="text" id="message" /></div>
        <div class="col-2"> <input class="btn btn-primary" type="button" id="sendButton" value="Enviar" />
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script>

    var connectionChat = new signalR.HubConnectionBuilder().withUrl("/chat").build();
    $("#sendButton").prop("disabled",true);


    connectionChat.on("ReceiveMessage", function (user, message) {
        var li = `<li>${user} dice ${message}</li>`
        $("#messagesList").append(li);
    });


    connectionChat.start().then(function () {
        console.log("Conexión exitosa");
        $("#sendButton").prop("disabled", false);
    }).catch(function (err) {
        return console.error(err.toString());
    });


    $(document).on("click","#sendButton", function () {
        var user = $("#user").val();
        var message = $("#message").val();
        connectionChat.invoke("SendMessage", user, message).catch(function (err) {
            return console.error(err.toString());
        });
        $("#message").val('');
        event.preventDefault();
    });
    $(document).on("click","#saveUser", function () {
        var userName = $("#userName").val();
        if (userName.trim() != "") {
            $("#user").val(userName);
            $("#userForm").hide();
            $("#chatForm").show();
        }
    });
</script>