﻿@model IEnumerable<PracticaNetSignalR.Models.Room>

@{
    ViewData["Title"] = "Lista de Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Salas</h1>

<div class="container" style="margin-top: 50px;">
    <div class="row">
        @foreach (var Room in Model)
        {
            <div class="col-sm-6">
                <div class="card" style="margin-bottom: 10px;border-radius: 20px;text-align: center;">
                    <div class="card-body">
                        <a asp-action="Room" asp-route-id="@Room.Id" target="_blank" >
                            <h5 class="card-title"> @Room.Name </h5>
                        </a>                       
                    </div>
                </div>
            </div>        
        }
    </div>
</div>