﻿@model PracticaNetSignalR.Models.Room

@{
    ViewData["Title"] = "Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Room @Model.Name</h1>

<div class="row">
    <div class="col-12" style="height: 60vh;overflow-y: auto;    background: #f3f3f3;">
        <div id="messagesList" style="display:grid;"></div>
    </div>
    <hr />
</div>

<div class="container" id="userForm">
    <div class="row">
        <div class="col-2">Nombre de usuario</div>
        <div class="col-4"><input class="form-control" type="text" id="userName" /></div>
        <div class="col-2"><input class="btn btn-primary" type="button" id="saveUser" value="Aceptar" /></div>
    </div>
</div>

<div class="container" id="chatForm" style="display:none;">
    <div class="row">
        <input type="hidden" id="user" />
        <input type="hidden" id="userId" />
        <div class="col-10"><input class="form-control" placeholder="Mensaje" type="text" id="message" /></div>
        <div class="col-2">
            <input class="btn btn-primary" type="button" id="sendButton" value="Enviar" />
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
  
    var connectionRoom = new signalR.HubConnectionBuilder().withUrl("/chat").withAutomaticReconnect([0,5000,10000,null]).build();
    $("#sendButton").prop("disabled", true)

    connectionRoom.start().then(function () {
        $("#sendButton").prop("disabled", false)
        connectionRoom.invoke("AddToGroup","@Model.Id");
        console.log("Conexión exitosa");
    }).catch(function (err) {
        return console.error(err.toString());
    });


    $(document).on("click", "#saveUser", function(){
        var userName = $("#userName").val();
        if (userName.trim() != "") {
            $("#user").val(userName);           
            $("#userForm").hide();
            $("#chatForm").show(); 
        }
    });

    $('#message').on('keypress', function (e) {
        if (e.which === 13) {
            $("#sendButton").trigger('click');
        }
    });

    $(document).on("click", "#sendButton",function () {
        var room = "@Model.Id";
        var user = $("#user").val();
        var message = $("#message").val();

        connectionRoom.invoke("SendMessageRoom", room, user, message).catch(function (err) {
            return console.error(err.toString());
        });
        
        $("#message").val("");
        $("#message").focus();

        event.preventDefault();
    });

    connectionRoom.on("ReceiveMessageRoom", (user, message, hour) => {
        var usrstyle = "justify-self: start;";
        if ($("#user").val() == user) {
            usrstyle = "justify-self: end;";
        }
        var message = `<div class="panelmsg" style="${usrstyle}">
                            <div><span class="msg">${message}</span></div>
                            <div class="usr">${user} ${hour}</div> </div>`;

        $("#messagesList").html($("#messagesList").html()+ message);
    });

    connectionRoom.on("ShowWho", (message) => {      
        console.log(message);
    });

</script>