﻿@model IEnumerable<PracticaNetSignalR.Models.Programming>
@{
    ViewData["Title"] = "Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<figure class="highcharts-figure">
    <div id="container"></div>
</figure>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center" style="margin-bottom:10px;">Votación</div>
    </div>

        @foreach (var item in Model)
        {
        <div class="row justify-content-center">
            <div class="col-6">
                <button style="margin-bottom:10px;" class="btn btn-primary w-100" onClick="vote('@item.Name');"> @item.Name </button>
            </div>
        </div>
        }

 
</div>

@section scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script>
        var connectionChart = new signalR.HubConnectionBuilder().withUrl("/chart").build();

        connectionChart.start().then(function () {
            console.log("Conexión exitosa");
        }).catch(function (err) {
            return console.error(err.toString());
        });

        function vote(name) {
            connectionChart.invoke("Vote", name).catch(function (err) {
                return console.error(err.toString());
            });
        }

        connectionChart.on("ReceiveVote", (vote) => {
            data.forEach(function (obj, i) {
                if(obj[0] == vote){
                    data[i][1]++;
                    ShowChart();
                }
            });
        });


        data = @Html.Raw(Json.Serialize(ViewBag.data));
        ShowChart();

      

        function ShowChart() {
            Highcharts.chart('container', {
                chart: {
                    styledMode: true
                },
                title: {
                    text: 'Lenguaje de programacion preferido'
                },
                series: [{
                    type: 'pie',
                    allowPointSelect: true,
                    keys: ['name', 'y', 'selected', 'sliced'],
                    data,
                    showInLegend: true
                }]
            });
        }

    </script>
}
